body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dbe0fa;
  flex-direction: column;
}
 
header {
  display: flex;
  background-color: #6c38de;
  justify-content: left;
  color: #fff;
  padding: 1em;
  border-radius: 0;
  width: 97.5%;  
  height:90px;
  cursor: pointer;
}
.heading{
  font-weight: 700;
}
.quiz-container {
  background-color: #fff;
  padding: 20px;
  width: 40%;
  height: 40%;
  border-radius: 8px;
  margin-top: 40px;
}

.question {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.options {
  list-style: none;
  padding: 0;
  margin-right:5px; ;
 
}

button {
  padding: 10px;
  margin: 10px;
  background-color:#6c38de ;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:disabled {
  background-color: #6c38de;
  cursor: not-allowed;
}
#result-statement {
  margin-top: 20px;
  font-weight: bold;
}

